{% extends '::base.html.twig' %}

{% block body -%}
    <h1>stockManager edit</h1>

    {{ form(edit_form) }}

        <a href="{{ path('stockmanager') }}">
            <input type="button" value="retour" />
        </a>
{% endblock %}
