/*********************************/
/*********************************/
/********** Sommaire *************/
/********** 1.Général ************/
/********** 2.Menu ***************/
/**********	3.Dernières action ***/
/**********	4.Tchat **************/
/********** 5.Media queries ******/
/*********************************/
/*********************************/

/* 1.Général */
#box {
  padding: 30px;
  overflow: scroll;
  word-wrap: break-word;
  height: 60em;
}

a, h2, h1, h3, th, td {
  color: #434141;
}

span {
  color: #c72425;
}

.icon-bar {
  border: 1px solid black;
}

/* 2.Login */
#login {
  margin-top: 20%;
}


/* 3.Dernières actions */
#todo {
  position: fixed;
  right: -2%;
  top: 40%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%; 
  text-decoration: none;
  z-index: 999; 
}

#todo:hover {
  position: fixed;
  right: 0%;
  top: 40%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%; 
  text-decoration: none;
  z-index: 999;   
}

/* 4.Tchat */
#tchat {
  position: fixed;
  right: -2%;
  top: 50%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%; 
  text-decoration: none;
  z-index: 999;
}

#tchat:hover {
  position: fixed;
  right: 0%;
  top: 50%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%; 
  text-decoration: none;
  z-index: 999;  
}

/* 5.Media queries */
/* Format Tablette */
@media only screen and (max-width: 992px) and (min-width: 786px) {
  #todo {
    position: fixed;
    right: -4%;
    top: 40%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999; 
  }

  #todo:hover {
    position: fixed;
    right: 0%;
    top: 40%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;   
  }

  #tchat {
    position: fixed;
    right: -4%;
    top: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;
  }

  #tchat:hover {
    position: fixed;
    right: 0%;
    top: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;  
  }
}

/* Format Smartphone */
@media only screen and (max-width: 768px) {
  #todo {
    position: fixed;
    right: -10%;
    top: 40%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999; 
  }

  #todo:hover {
    position: fixed;
    right: 0%;
    top: 40%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;   
  }

  #tchat {
    position: fixed;
    right: -10%;
    top: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;
  }

  #tchat:hover {
    position: fixed;
    right: 0%;
    top: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%; 
    text-decoration: none;
    z-index: 999;  
  }

  .logo {
    margin: 0;
  }
}