<!DOCTYPE html>
<html>
<head>
	<script src="{{asset('bundles/gogolemain/js/jquery-2.1.4.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/gogolemain/css/bootstrap.css')}}"/>
	<meta charset="utf-8">
</head>
<body>
	<div class='contener'>
		{% include 'GogoleUserBundle:Layout:layout.html.twig'%}
		{% block fos_user_content %}
		{% endblock %}
	</div>
	<div class="contener">	
		
	{% block body %}
	{% endblock %}
	</div>
</body>
</html>	