{% extends "GogoleMainBundle:Mainview:index.html.twig"%}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
 <a href="{{path('gogole_todo_homepage')}}">retour</a>
{% endblock fos_user_content %}
