<<<<<<< HEAD
{% extends "GogoleMainBundle:Mainview:index.html.twig"%}

{% block body %}

<h2> modifie votre tache</h2>
{{form(formulaire)}}

{% endblock %}
=======
{% extends "GogoleMainBundle:Main:layout.html.twig"%}

{% block todo %}
<div class="row">
	<h2 class="text-center"> Modifier votre tache</h2>
	<div class="col-md-offset-4">
		{{form(formulaire)}}
	</div>
</div>
{% endblock %}
>>>>>>> upstream/master
